/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  color: #6c5f4a;
  margin: 40px 0px 70px;
}
h2 {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  color: #5e5c55;
  margin: 5px 20px 10px 20px;
}
hr {
	color: #6c5f4a;
	margin: 10px 10px 10px 10px;
}

.unused-sendButton {
  display: block;
  font-size: 16pt;
}

/* Override from generated theme, to add more color / distinction  FFE1B6 FFF8DC */
*.x-grid3-row-alt{
background-color:#F7F5F2;
}

.x-status-fail {
background-image:url(resources/themes/xtheme-wheat/images/wheat/shared/warning.gif);
}

*.x-html-editor-tb *.x-btn-text{
background-image: none;
}

.sbamAppLoading {
	position: absolute; 
	top: 45%; 
	left: 45%; 
	font-family: Arial; 
	font-style: italic; 
	font-size: 9pt;
	background-image: url('resources/images/loading.gif');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	border: 1px solid lightgray;
	padding-top: 15px;
	padding-left: 50px;
	padding-bottom: 15px;
	padding-right: 5px;
}

.sbamMsg {
/*	border: 1px solid gray; */
	padding-top: 0px;
	background: white;
	margin: 20px;
	border: 2px inset lightgray;
}

.sbamMsg .sbamMsgHeader {
	padding: 10px;
}

.sbamMsg .sbamMsgHeader .sbamMsgTitle {
	display: inline;
	font-weight: bold;
}

.sbamMsg .sbamMsgHeader .sbamMsgPriorityTitle {
	display: inline;
	font-weight: bold;
	color:	red;
}

.sbamMsg .sbamMsgHeader .sbamMsgPostDate {
	display: inline;
	font-style: italic;
	color: gray;
	padding-right: 100px;
}

.sbamMsg .sbamMsgContent {
	padding: 10px;
	padding-left: 50px;
}

.version {
	padding: 20px;
	color: darkgoldenrod;
	font-size: 20px;
}

.pdocImage {
	padding: 5px;
}

.pdocTitle {
	padding: 5px;
	color:	darkgoldenrod;
}

.pdocType {
	padding: 5px;
}

.pdocType img {
	text-decoration: none;
	vertical-align: middle;
	padding: 3px;
}

a.pdocLink:link, a.pdocLink:active {
	text-decoration: underline;
	color:	saddlebrown;
	background:goldenrod;
    border: 1px solid darkgoldenrod;
    padding:3px 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:15px;
}

a.pdocLink:visited {
	color: saddlebrown;
	background:burlywood;
    border: 1px solid darkgoldenrod;
    padding:3px 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:15px;
}

a.pdocLink:hover {
	color: cornsilk;
	background:darkgoldenrod;
    border:1px solid darkgoldenrod;
/*  color:#fff; */
    -webkit-border-radius:10px;
    -moz-border-radius:15px;
}

a.pdocImgLink {
	background: transparent;
	border: none;
}

.pdocDescr {
	padding: 5px;
	color:	 black;
	background-color: cornsilk;
}

/* override modal behavior to be darker */
*.x-modal {
  filter: alpha(opacity =                         60);
  opacity: .6;
}

/* Special style to replace forms with white backgrounds with something more subtle */
.x-portlet .x-panel-body .subtle-form {
	background-color: #FBEBDB  !important;
}

/* Override display for disabled fields */
div.x-item-disabled input.x-form-field {
	border: none !important;
	color: 	#381C08	!important;
	background-color: #FBEBDB  !important;
}

/* These are necessary, because the theme doesn't "take" -- change these if the theme changes */
/* Managed now by adding the style "x-panel" wherever needed
.x-border {
  border-color: #6C5F4A;
}

.x-border-top {
  border-color: #6C5F4A;
}
*/