/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  color: #6c5f4a;
}
h2 {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  color: #5e5c55;
  margin: 5px 20px 10px 20px;
}
hr {
	color: #6c5f4a;
	margin: 10px 10px 10px 10px;
}

.unused-sendButton {
  display: block;
  font-size: 16pt;
}

/* Override from generated theme, to add more color / distinction  FFE1B6 FFF8DC */
*.x-grid3-row-alt{
background-color:#F7F5F2;
}

.x-status-fail {
background-image:url(resources/themes/xtheme-wheat/images/wheat/shared/warning.gif);
}

*.x-html-editor-tb *.x-btn-text{
background-image: none;
}

.sbamAppLoading {
	position: absolute; 
	top: 45%; 
	left: 45%; 
	font-family: Arial; 
	font-style: italic; 
	font-size: 9pt;
	background-image: url('resources/images/loading.gif');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	border: 1px solid lightgray;
	padding-top: 15px;
	padding-left: 50px;
	padding-bottom: 15px;
	padding-right: 5px;
}

.sbamMsg {
/*	border: 1px solid gray; */
	padding-top: 0px;
	background: white;
	margin: 20px;
	border: 2px inset lightgray;
}

.sbamMsg .sbamMsgHeader {
	padding: 10px;
}

.sbamMsg .sbamMsgHeader .sbamMsgTitle {
	display: inline;
	font-weight: bold;
}

.sbamMsg .sbamMsgHeader .sbamMsgPriorityTitle {
	display: inline;
	font-weight: bold;
	color:	red;
}

.sbamMsg .sbamMsgHeader .sbamMsgPostDate {
	display: inline;
	font-style: italic;
	color: gray;
	padding-right: 100px;
}

.sbamMsg .sbamMsgContent {
	padding: 10px;
	padding-left: 50px;
}

.version {
	padding: 20px;
	color: darkgoldenrod;
	font-size: 20px;
}

.pdocImage {
	padding: 5px;
}

.pdocTitle {
	padding: 5px;
	color:	darkgoldenrod;
}

.pdocType {
	padding: 5px;
}

.pdocType img {
	text-decoration: none;
	vertical-align: middle;
	padding: 3px;
}

a.pdocLink:link, a.pdocLink:active {
	text-decoration: underline;
	color:	saddlebrown;
	background:goldenrod;
    border: 1px solid darkgoldenrod;
    padding:3px 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:15px;
}

a.pdocLink:visited {
	color: saddlebrown;
	background:burlywood;
    border: 1px solid darkgoldenrod;
    padding:3px 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:15px;
}

a.pdocLink:hover {
	color: cornsilk;
	background:darkgoldenrod;
    border:1px solid darkgoldenrod;
/*  color:#fff; */
    -webkit-border-radius:10px;
    -moz-border-radius:15px;
}

a.pdocImgLink {
	background: transparent;
	border: none;
}

.pdocDescr {
	padding: 5px;
	color:	 black;
	background-color: cornsilk;
}

/* override modal behavior to be darker */
*.x-modal {
  filter: alpha(opacity =                         60);
  opacity: .6;
}

/* Make background for dual grid container transparent */
.dual-grid-bg {
	background: transparent !important;
}

/* Special style to replace forms with white backgrounds with something more subtle */
.x-portlet .x-panel-body .subtle-form {
	background-color: #FBEBDB  !important;
}

.subtle-form .x-fieldset-header-text {
	color: #755B37; /* #A28456; */
}

.subtle-form .x-form-item-label {
	color: #755B37; /* #A28456; */
	font-size: 85%;
}

.subtle-form .x-form-cb-label {
	color: #755B37; /* #A28456; */
}

.x-panel.inner-panel .x-panel-tl, .x-panel.inner-panel  .x-panel-tr {
    background-image: url("resources/images/panel/inner-panel/corners-sprite.gif");
    border-bottom-color: #755B37; /* #6C5F4A; */
}

.x-panel-header.inner-panel {
    background-image: url("resources/images/panel/inner-panel/white-top-bottom.gif");
}

.x-panel-header.inner-panel .x-panel-header-text {
	color: #755B37; /* #A28456; */
}

/* Override display for disabled fields */
/*div.x-item-disabled input.x-form-field { use this to apply to all fields, below for only selected */
div.x-item-disabled.field-or-label {
	color: 	black	!important;
	opacity:1  !important;
	-moz-opacity:1  !important;
	filter:alpha(opacity = 100 )  !important;
}

div.x-form-readonly.field-or-label input.x-form-field {
	border: none !important;
	color: 	black	!important;
	background-color: #FBEBDB  !important;
	background-image: none !important;
	opacity:1  !important;
	-moz-opacity:1  !important;
	filter:alpha(opacity = 100 )  !important;
}
div.x-item-disabled.field-or-label input.x-form-field {
	border: none !important;
	color: 	black	!important;
	background-color: #FBEBDB  !important;
	background-image: none !important;
	opacity:1  !important;
	-moz-opacity:1  !important;
	filter:alpha(opacity = 100 )  !important;
}

div.x-form-readonly.field-or-label textarea.x-form-field {
	border: none !important;
	color: 	black	!important;
	background-color: #FBEBDB  !important;
	background-image: none !important;
	opacity:1  !important;
	-moz-opacity:1  !important;
	filter:alpha(opacity = 100 )  !important;
}
div.x-item-disabled.field-or-label textarea.x-form-field {
	border: none !important;
	color: 	black	!important;
	background-color: #FBEBDB  !important;
	background-image: none !important;
	opacity:1  !important;
	-moz-opacity:1  !important;
	filter:alpha(opacity = 100 )  !important;
}
/* Since fields within groups are disabled, no need to also mask them */
div.x-form-group.x-item-disabled {
	background-image: none !important;
	opacity:.95  !important;
	-moz-opacity:.95  !important;
	filter:alpha(opacity = 95 )  !important;
}

/* Fix selected grid row color */
.x-grid3-row-selected {
    background-color: #D9C9BF !important;
}


.x-grid3-row-expander {
	background-image: none !important;
}

/* Fix highlighted combo box row color */
*.x-combo-list *.x-combo-selected {
	border-color:#b0813f;
	background-color:#efefef;
	background-image:url(resources/themes/xtheme-wheat/images/wheat/grid/row-over.gif);
}

.clear-toolbar {
	background: #FBEBDB !important;
}

div.x-tree3-el img.x-tree3-node-icon {
	opacity:.6  !important;
	-moz-opacity:.6  !important;
	filter:alpha(opacity = 60 )  !important;
}

div.x-tree3-el.x-ftree2-node-over img.x-tree3-node-icon {
	opacity:1  !important;
	-moz-opacity:1  !important;
	filter:alpha(opacity = 100 )  !important;
}

div.x-form-readonly *.x-form-trigger.trigger-square {
	background-image: none;
}

div.x-item-disabled *.x-form-trigger.trigger-square {
	background-image: none;
}
	
*.x-form-field-wrap *.x-form-trigger.trigger-square {
	background-image:url(resources/themes/xtheme-wheat/images/wheat/form/trigger-square.gif);
}
	
*.x-form-field-wrap *.x-form-trigger.trigger-notes-edit {
	background-image:url(resources/images/form/trigger-notes-edit.gif);
}
	
*.x-form-field-wrap *.x-form-trigger.trigger-notes-add {
	background-image:url(resources/images/form/trigger-notes-add.gif);
}

div.noteToolTip {
	padding: 5px;
}

div.noteToolTip div {
	background-color: #FFEBC0;
	padding: 5px;
}

div.noteMargin {
	padding: 5px;
}

div.noteText {
	background-color: #FFEBC0;
	border: 1px solid #b0813f;
	border-style: dotted solid solid dotted;
	padding: 5px;
}

.list-normal {
}

.list-default {
	font-style:	italic;
	background-color: #EEFFEE;
	background-image:url(resources/images/icons/colorful/configuration.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 4px;
}

.list-normal .show-name {
	font-weight: bold;
}

.list-normal .show-ucn {
	color:gray;
	font-style: italic;
}

.list-normal .show-address {
}

.list-new {
	background-color: #EEFFEE;
	background-image:url(resources/images/icons/colorful/insert.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 4px;
}

.list-all {
	background-color: #FFEEDD;
	background-image:url(resources/images/icons/colorful/institution.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 4px;
}

.list-alert {
	background-color: #FFFFEE;
	background-image:url(resources/images/icons/colorful/alert.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 4px;
}

.list-alert .show-name {
}

.list-alert .show-ucn {
	display: none;
}

.list-alert .show-address {
	display: none;
}

.list-null {
	background-color: #DDDDDD;
	background-image:url(resources/images/icons/colorful/remove.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 4px;
}

.list-institution {
	background-color: #FFF0EE;
	background-image:url(resources/images/icons/colorful/institution.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 4px;
}

.list-restart {
	background-color: #FFFFDD;
	background-image:url(resources/images/icons/colorful/restart_search.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 4px;
}

.list-contact {
	background-color: #FFFFFF;
	background-image:url(resources/images/icons/colorful/contact.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 4px;
}

div.x-slider div.ext-el-mask {
	opacity:0  !important;
	-moz-opacity:0  !important;
	filter:alpha(opacity = 0 )  !important;
}

/* For date picker */

*.x-date-middle, *.x-date-left, *.x-date-right{
	background-image:url(resources/images/calendar/hd-sprite.gif);
}
*.x-date-right-icon {
	background-image:url(resources/images/calendar/right-btn.gif);
}
*.x-date-left-icon {
	background-image:url(resources/images/calendar/left-btn.gif);
}

/* These are necessary, because the theme doesn't "take" -- change these if the theme changes */
/* Managed now by adding the style "x-panel" wherever needed
.x-border {
  border-color: #6C5F4A;
}

.x-border-top {
  border-color: #6C5F4A;
}
*/