<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->

  <servlet>
    <servlet-name>initializer</servlet-name>
    <description>
      Initialize run-time constants and tools
    </description>
    <servlet-class>com.scholastic.sbam.server.servlets.Initializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>authenticateServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.AuthenticateServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deauthenticateServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.DeauthenticateServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>welcomeMessageServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.WelcomeMessageServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userMessageServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UserMessageServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateUserMessageServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateUserMessageServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UserListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateUserServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userNameValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UserNameValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>cancelReasonListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.CancelReasonListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateCancelReasonServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateCancelReasonServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>cancelReasonCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.CancelReasonCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deleteReasonListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.DeleteReasonListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateDeleteReasonServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateDeleteReasonServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deleteReasonCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.DeleteReasonCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>serviceListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ServiceListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateServiceServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateServiceServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>serviceCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ServiceCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>termTypeListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.TermTypeListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateTermTypeServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateTermTypeServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>termTypeCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.TermTypeCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>authenticateServlet</servlet-name>
    <url-pattern>/sbam/authenticate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deauthenticateServlet</servlet-name>
    <url-pattern>/sbam/deauthenticate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>welcomeMessageServlet</servlet-name>
    <url-pattern>/sbam/getWelcomeMessages</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userMessageServlet</servlet-name>
    <url-pattern>/sbam/getUserMessages</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateUserMessageServlet</servlet-name>
    <url-pattern>/sbam/updateUserMessage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userListServlet</servlet-name>
    <url-pattern>/sbam/getUsers</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/sbam/updateUser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userNameValidationServlet</servlet-name>
    <url-pattern>/sbam/validateUserName</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>cancelReasonListServlet</servlet-name>
    <url-pattern>/sbam/getCancelReasons</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateCancelReasonServlet</servlet-name>
    <url-pattern>/sbam/updateCancelReason</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>cancelReasonCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateCancelReasonCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deleteReasonListServlet</servlet-name>
    <url-pattern>/sbam/getDeleteReasons</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateDeleteReasonServlet</servlet-name>
    <url-pattern>/sbam/updateDeleteReason</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deleteReasonCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateDeleteReasonCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>serviceListServlet</servlet-name>
    <url-pattern>/sbam/getServices</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateServiceServlet</servlet-name>
    <url-pattern>/sbam/updateService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>serviceCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateServiceCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>termTypeListServlet</servlet-name>
    <url-pattern>/sbam/getTermTypes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateTermTypeServlet</servlet-name>
    <url-pattern>/sbam/updateTermType</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>termTypeCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateTermTypeCode</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SBAM.html</welcome-file>
  </welcome-file-list>

  <resource-ref>
     <description>SBAM DataSource Reference</description>
     <res-ref-name>jdbc/DSSBAM</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
  </resource-ref>

</web-app>
