<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->

  <servlet>
    <servlet-name>initializer</servlet-name>
    <description>
      Initialize run-time constants and tools
    </description>
    <servlet-class>com.scholastic.sbam.server.servlets.Initializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>authenticateServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.AuthenticateServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deauthenticateServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.DeauthenticateServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>welcomeMessageServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.WelcomeMessageServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userMessageServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UserMessageServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateUserMessageServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateUserMessageServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UserListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateUserServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateUserCacheServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateUserCacheServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userCacheListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UserCacheListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userNameValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UserNameValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>agreementGetServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.AgreementGetServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>agreementSiteListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.AgreementSiteListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>agreementTermListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.AgreementTermListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>agreementTypeListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.AgreementTypeListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateAgreementTypeServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateAgreementTypeServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>agreementCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.AgreementTypeCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>cancelReasonListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.CancelReasonListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateCancelReasonServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateCancelReasonServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>cancelReasonCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.CancelReasonCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>commissionTypeListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.CommissionTypeListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateCommissionTypeServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateCommissionTypeServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateUserPortletCacheServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateUserPortletCacheServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userPortletCacheListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UserPortletCacheListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>commissionCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.CommissionCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>contactTypeListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ContactTypeListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateContactTypeServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateContactTypeServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>contactTypeCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ContactTypeCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deleteReasonListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.DeleteReasonListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateDeleteReasonServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateDeleteReasonServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>deleteReasonCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.DeleteReasonCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>documentationListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.DocumentationListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>helpTextServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.HelpTextServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>helpTextIndexServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.HelpTextIndexServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>helpTextWordServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.HelpTextWordServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>helpTextSearchServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.HelpTextSearchServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>institutionGetServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.InstitutionGetServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>institutionSearchServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.InstitutionSearchServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>institutionWordServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.InstitutionWordServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>preferenceCategoryListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.PreferenceCategoryListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updatePreferenceCategoryServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdatePreferenceCategoryServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>prefCatCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.PrefCatCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>preferenceCodeListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.PreferenceCodeListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updatePreferenceCodeServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdatePreferenceCodeServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>prefCodeSelCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.PrefCodeSelCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>productListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ProductListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateProductServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateProductServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>productCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ProductCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>productServiceListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ProductServiceListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateProductServiceListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateProductServiceListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>serviceListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ServiceListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateServiceServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateServiceServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>serviceCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.ServiceCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>termTypeListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.TermTypeListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateTermTypeServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateTermTypeServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>termTypeCodeValidationServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.TermTypeCodeValidationServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>welcomeMessageListServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.WelcomeMessageListServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>updateWelcomeMessageServlet</servlet-name>
    <servlet-class>com.scholastic.sbam.server.servlets.UpdateWelcomeMessageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>authenticateServlet</servlet-name>
    <url-pattern>/sbam/authenticate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deauthenticateServlet</servlet-name>
    <url-pattern>/sbam/deauthenticate</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>welcomeMessageServlet</servlet-name>
    <url-pattern>/sbam/getWelcomeMessages</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userMessageServlet</servlet-name>
    <url-pattern>/sbam/getUserMessages</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateUserMessageServlet</servlet-name>
    <url-pattern>/sbam/updateUserMessage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userListServlet</servlet-name>
    <url-pattern>/sbam/getUsers</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/sbam/updateUser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateUserCacheServlet</servlet-name>
    <url-pattern>/sbam/updateUserCache</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userCacheListServlet</servlet-name>
    <url-pattern>/sbam/getUserCacheTargets</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateUserPortletCacheServlet</servlet-name>
    <url-pattern>/sbam/updateUserPortletCache</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userPortletCacheListServlet</servlet-name>
    <url-pattern>/sbam/getUserPortlets</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userNameValidationServlet</servlet-name>
    <url-pattern>/sbam/validateUserName</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>agreementGetServlet</servlet-name>
    <url-pattern>/sbam/getAgreement</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>agreementSiteListServlet</servlet-name>
    <url-pattern>/sbam/getAgreementSites</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>agreementTermListServlet</servlet-name>
    <url-pattern>/sbam/getAgreementTerms</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>agreementTypeListServlet</servlet-name>
    <url-pattern>/sbam/getAgreementTypes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateAgreementTypeServlet</servlet-name>
    <url-pattern>/sbam/updateAgreementType</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>agreementCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateAgreementCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>cancelReasonListServlet</servlet-name>
    <url-pattern>/sbam/getCancelReasons</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateCancelReasonServlet</servlet-name>
    <url-pattern>/sbam/updateCancelReason</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>cancelReasonCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateCancelReasonCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>commissionTypeListServlet</servlet-name>
    <url-pattern>/sbam/getCommissionTypes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateCommissionTypeServlet</servlet-name>
    <url-pattern>/sbam/updateCommissionType</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>commissionCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateCommissionCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>contactTypeListServlet</servlet-name>
    <url-pattern>/sbam/getContactTypes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateContactTypeServlet</servlet-name>
    <url-pattern>/sbam/updateContactType</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>contactTypeCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateContactTypeCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deleteReasonListServlet</servlet-name>
    <url-pattern>/sbam/getDeleteReasons</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateDeleteReasonServlet</servlet-name>
    <url-pattern>/sbam/updateDeleteReason</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deleteReasonCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateDeleteReasonCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>documentationListServlet</servlet-name>
    <url-pattern>/sbam/getDocumentationLinks</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>helpTextServlet</servlet-name>
    <url-pattern>/sbam/getHelpText</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>helpTextIndexServlet</servlet-name>
    <url-pattern>/sbam/getHelpTextIndex</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>helpTextWordServlet</servlet-name>
    <url-pattern>/sbam/getHelpTextWords</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>helpTextSearchServlet</servlet-name>
    <url-pattern>/sbam/searchHelpText</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>institutionGetServlet</servlet-name>
    <url-pattern>/sbam/getInstitution</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>institutionSearchServlet</servlet-name>
    <url-pattern>/sbam/getInstitutions</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>institutionWordServlet</servlet-name>
    <url-pattern>/sbam/getInstitutionWords</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>preferenceCategoryListServlet</servlet-name>
    <url-pattern>/sbam/getPreferenceCategories</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updatePreferenceCategoryServlet</servlet-name>
    <url-pattern>/sbam/updatePreferenceCategory</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>prefCatCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validatePrefCatCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>preferenceCodeListServlet</servlet-name>
    <url-pattern>/sbam/getPreferenceCodes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updatePreferenceCodeServlet</servlet-name>
    <url-pattern>/sbam/updatePreferenceCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>prefCodeSelCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validatePrefCodeSelCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>productListServlet</servlet-name>
    <url-pattern>/sbam/getProducts</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateProductServlet</servlet-name>
    <url-pattern>/sbam/updateProduct</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>productCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateProductCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>productServiceListServlet</servlet-name>
    <url-pattern>/sbam/getProductServices</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateProductServiceListServlet</servlet-name>
    <url-pattern>/sbam/updateProductServiceList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>serviceListServlet</servlet-name>
    <url-pattern>/sbam/getServices</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateServiceServlet</servlet-name>
    <url-pattern>/sbam/updateService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>serviceCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateServiceCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>termTypeListServlet</servlet-name>
    <url-pattern>/sbam/getTermTypes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateTermTypeServlet</servlet-name>
    <url-pattern>/sbam/updateTermType</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>termTypeCodeValidationServlet</servlet-name>
    <url-pattern>/sbam/validateTermTypeCode</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>welcomeMessageListServlet</servlet-name>
    <url-pattern>/sbam/getWelcomeMessageList</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>updateWelcomeMessageServlet</servlet-name>
    <url-pattern>/sbam/updateWelcomeMessage</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SBAM.html</welcome-file>
  </welcome-file-list>

  <resource-ref>
     <description>SBAM DataSource Reference</description>
     <res-ref-name>jdbc/DSSBAM</res-ref-name>
     <res-type>javax.sql.DataSource</res-type>
     <res-auth>Container</res-auth>
  </resource-ref>

</web-app>
