<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.max_size">50</property>
        <property name="hibernate.c3p0.min_size">3</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.cache.use_minimal_puts">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">sbam0</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/sbam</property>
        <property name="hibernate.connection.username">sbam</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="hibernate.show_sql">false</property>
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeControl.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/UserCache.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/ContactType.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeAu.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/PreferenceCategory.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Proxy.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AuthUserId.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeIp.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AePref.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/LinkType.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/SnapshotProductService.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Site.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/SnapshotParameter.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/SnapshotTerm.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/PreferenceCode.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/UcnConversion.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeConflict.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeCst.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/CancelReason.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeUid.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/SiteContact.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AgreementContact.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/UserRole.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/RemoteSetupUrl.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AgreementSite.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AgreementLink.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/SysConfig.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/InstitutionContact.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/SitePreference.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/UserMessage.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/ProxyIp.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AlienInstitution.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/InstitutionType.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AuthIp.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Agreement.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Institution.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/StatsAdmin.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AgreementTerm.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Snapshot.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AePrefCode.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeUrl.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/UserPortletCache.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Service.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AuthUrl.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Documentation.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AgreementType.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/DeleteReason.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/User.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/HelpText.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/CommissionType.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/ProductService.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AuthMethod.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/InstitutionGroup.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Product.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeAuthUnit.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/UserProfile.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/InstitutionPubPriv.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AeRsurl.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/TermType.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/WelcomeMessage.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/AePuid.hbm.xml" />
        <mapping resource="com/scholastic/sbam/server/database/codegen/Contact.hbm.xml" />
    </session-factory>
</hibernate-configuration>
